<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Chocolate</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Add chocolate</h1>
<a href="chocolates">Chocolates</a>
<br/><br/>
<div>
    <form th:action="@{/addChocolate}"
          th:object="${chocolateForm}" method="POST">
        First Name:
        <input type="text" th:field="*{name}"/>
        <br/>
        Last Name:
        <input type="text" th:field="*{price}"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>